{% extends 'base.html' %}

{% load static %}

    
{% block content %}


{% include 'css.html' %}
            <div>
                <div class="flex">
                    <i class="fa-solid fa-phone-volume"></i>
                    <h5>+447440725730
                        +2347026177704
                        
                    </h5>
                </div>
                <div class="flex">
                    <i  class="fa-solid fa-envelope"></i>
                    <h5>asgcfoundation@gmail.com
                        
                    </h5>
                </div>
                <div class="flex">
                    <i class="fa-solid fa-location-dot"></i>
                    <h5>40 Osmund Drive, Golding, Northampton, NN3 8XB, United Kingdom.
                        <h5>24 Ebara Road Orazi, Port Harcourt Rivers State, Nigeria.</h5>
                        
                    </h5>
                </div>
            </div>

            <div style="height: 100px;background:linear-gradient(180deg, yellowgreen, white);">

            </div>
            {% endblock %}