{% extends 'base.html' %}

{% load static %}

    
{% block content %}


{% include 'css.html' %}
<section class="sect4">
    <div>
        <h1>News/Upcoming Events</h1>

        <div class="flex">
            <h5>1st-7th December</h5>
            <p>Anti-Drug Abuse and Mental Health Summit</p>
            <button>Read More</button>

        </div>
        <div class="flex">
            <h5>16th sept</h5>
            <p>World Day against Human Traffikking</p>
            <button>Read More</button>
        </div>
        <div class="flex">
            <h3>16th sept</h3>
            <p>World Malaria Day</p>
            <button>Read More</button>
        </div>
        <div class="flex">
            <h3>16th sept</h3>
            <p>World Malaria day</p>
            <button>Read More</button>
        </div>

    </div>
</section>
<div style="height: 100px;background:linear-gradient(180deg,yellowgreen, white);">

</div>
{% endblock %}