{% extends 'base.html' %}
{% load static %}







{% block content %}

<style>
    body{
        margin: auto;
        width: 100%;
        background-color: rgb(236, 250, 215);
    }
.drug-grid{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(3,1fr)
    
}
h3{
    margin-top: 30px;
}
.drug-grid img{
    width: 100%;
    border-radius: 10px;
    padding: 2px;
}
@media screen and (max-width:550px) {

    .drug-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr)
    
}
}
</style>

<div>
    <div class="">
        <h3>Post Covid-19 Palliative Distribution to home of Orphanage & Elderly </h3>
        <div class="drug-grid">
            <img src=" {% static 'image/covid1.jpg' %} " alt="">
            <img src=" {% static 'image/covid2.jpg' %} " alt="">
            <img src=" {% static 'image/covid3.jpg' %} " alt="">
            <img src=" {% static 'image/covid4.jpg' %} " alt="">
            <img src=" {% static 'image/covid5.jpg' %} " alt="">

  
        </div>


</div>



{%endblock%}

