{% extends 'base.html' %}

{% load static %}


{% block content %}
<style>

.article{
    margin: auto;
    width: 80%;
    background-color: aliceblue;
}
h2{
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

</style>


<div class="article">
<h2>We Have The Power Today To Structure The Society To Be Better For Tomorrow</h2>


<p>
    The Society is an environment that houses each and everyone of us and also
                     linked with nature the trees, the sun, the clouds, the soil, animals both higher and low
    and has been evolving from the stone ages, medievals, down to modern civilizations
    with cascades of discoveries and inventions which has its pros and cons in regards to our
    existence.
    
</p>

</div>
{% endblock %}